.wrap_nav {
    grid-area: n;
    background: #000;
}

.nav ul li {
    list-style: none;
}

.item a {
    color: #B0AFAB;
    text-decoration: none;
}

.item .active{
    color: #fff;
}
.title{
    margin-top: 40px;
    font-size: 20px;
    color: #ffffff;
    padding-left: 40px;
}
.friend_wrap{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
.box_friend{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;

}
.box_friend img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}