.content{
    grid-area: c;
    background: blue;
  }
  .content .top_cont img{
    width: 100%;
  }
  .banner_image img{
    width: 100%;
  }
  .item{
    color: aqua;
  }
  .item.active{
    color: salmon;
  }