
.formControl.error input,
.formControl.error textarea{
    border-color: red;
}
.formControl.error span{
    color: red;
    display: block;
}
.form_summary_error {
    border-color: darkred;
    padding: 5px;
    color: red;
    font-weight: 300;
    text-align: center;
}
