
.formControl.error input,
.formControl.error textarea{
    border: 3px solid red;
}
.formControl.error span{
    color: red;
    display: block;
}
.form_summary_error {
    border: 1px solid darkred;
    padding: 5px;
    color: darkred;
}