.app_wrapper{
  display: grid;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  grid-template-areas: 
    "h h "
    "n c ";
  grid-template-rows: 60px 1fr;
  grid-auto-columns: 2fr 10fr;
}

.wrap_app_content{
  grid-area: c;
  background: rgb(17, 172, 172);
}

body {
  color: #000000;
}