.dialogs {
   display: grid;
   grid-template-columns: 2fr 10fr;
   padding: 20px;
}
.dialogs_item{

}

.dialog_items a{
   color: black;
   text-decoration: none;
}
.dialog_items a.active{
   color: #2FB38C;

}
.dialog{

}
.messageWrap{
   padding: 20px;
}
.messageWrap button{
   display: block;
   margin-top: 20px;
}